<div class="container">
    <div id="current" class="panel panel-default">
        <div class="panel-body">
            <h3>Most Recent Reading</h3>
            <table class="table table-hover table-condensed">
                <tr>
                    <td><strong>Last Reading</strong></td>
                    <td>{{ lastReading.totalWatts }}W</td>
                </tr>
                <tr>
                    <td><strong>Temperature</strong></td>
                    <td>{{ lastReading.tempF }}&deg;F</td>
                </tr>
                <tr>
                    <td><strong>Time</strong></td>
                    <td>{{ lastReading.readingTimestamp | date:'medium' }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="last_hour_chart" class="panel panel-default">
        <div class="panel-body">
            <h3>Last Hour</h3>
            <table class="table table-hover table-condensed">
                <tr ng-repeat="(key, value) in lastHourStats">
                    <td><strong>{{ key }}</strong></td>
                    <td>{{ value | number:2 }}</td>
                </tr>
            </table>
            <div id="current_chart" style="height: 400px; width: 100%;"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                Last Hour Details
                <button type="button" class="btn btn-default btn-small" data-toggle="collapse" data-target="#last_hour_details">
                    Show/Hide
                </button>
            </h3>
            <div id="last_hour_details" class="collapse">
                <table class="table table-hover table-condensed">
                    <tr>
                        <th>Time</th>
                        <th>Reading</th>
                        <th>Temperature</th>
                    </tr>
                    <tr data-ng-repeat="reading in readingsFromLastHour">
                        <td>{{ reading.readingTimestamp | date:'medium' }}</td>
                        <td>{{ reading.totalWatts }}W</td>
                        <td>{{ reading.tempF }}&deg;F</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
