<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>Last 7 Days</h3>
            <table class="table table-hover table-condensed">
                <tr ng-repeat="(key, value) in last7DaysStats">
                    <td><strong>{{ key }}</strong></td>
                    <td>{{ value | number:2 }}</td>
                </tr>
            </table>
            <div id="last_7_days_chart" style="height: 400px; width: 100%;"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <h3>
                Last 7 Days Details
                <button type="button" class="btn btn-default btn-small" data-toggle="collapse" data-target="#last_7_days_details">
                    Show/Hide
                </button>
            </h3>
            <div id="last_7_days_details" class="collapse">
                <table class="table table-hover">
                    <tr>
                        <th>Time</th>
                        <th>Reading</th>
                        <th>Temperature</th>
                    </tr>
                    <tr data-ng-repeat="hour in hoursFromLast7Days">
                        <td>{{ hour.id | date:'medium' }}</td>
                        <td>{{ hour.averageUsage | number }}W</td>
                        <td>{{ hour.averageTempF | number:2 }}&deg;F</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
